.player {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
  text-align: center;
  margin-left: 2vw;

  span {
    font-size: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
  }

  background-color: rgb(50, 50, 50, 0.8);
  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
  }
}

.playerActive {
  background-color: orange !important ;
}
